<div class="navbar w-100">
    <div class="navbar-options">
           <div class="logo-searchbar" >


                <div class="logo" routerLink="Home">
                    <h2>Innova <span class="tube">Tube</span></h2>
                </div>
            
                

                <div class="searchbar">
                    <i class="fa-solid fa-magnifying-glass" routerLink="Search"></i>
                    <input [(ngModel)]="searchQuery" placeholder="Enter search terms" (keydown.enter)="onSearch()">
                </div>

           </div>
        


           <div class="navbar-side-options ">
                <div *ngIf="isLoggedIn" style="font-size: 20px; ">
                  <i class="fa-solid fa-user"></i>  {{username}} | 
                   <span class="logout cursor-pointer" (click)="logout()"> 
                    <i class="fa-solid fa-right-from-bracket"></i> Logout</span>
                 <div *ngIf="isLoggedIn" >
                    <span class="mx-2 text-md favorites cursor-pointer"> <i class="fa-solid fa-star" routerLink="/Favorite"></i>Favorites</span>
                </div>
                </div>
                <div *ngIf="!isLoggedIn" style="font-size: 20px;">
                    <span class="logout cursor-pointer"  routerLink="Login">Sign in</span> | <span class="logout cursor-pointer"  routerLink="Register">Create account</span>
                
                </div>

               
           </div>
           
    </div>
</div>

