
<div class="carrousel-margin" @slideInUp>
  <div class="owl-carousel owl-theme">

   
    <div *ngFor="let video of videosYT" class="video-card">
      <img [src]="video.snippet.thumbnails.medium.url" alt="{{ video.snippet.title }}">
    
      <div class="flex video-info">
        <div class="channel-icon">
       
        </div>
        <div class="video-title">
         
          <p><strong>{{ video.snippet.title }}</strong></p>
          <p>{{ video.snippet.channelTitle }}</p>
        </div>
      </div>
    </div>

   
  </div>

</div>
<ng-template #noVideos>
  <p>No videos found.</p>
</ng-template>


  